html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

section {
	padding: 4px;
}

.mainbox {
	display: grid;
	grid-template-areas: "menu content";
	grid-template-columns: 1fr 4fr;
	gap: 3px;
	color: #ddd;
	height: 100%;
}

.mainbox > div.left {
	grid-area: menu;
	padding: 7px;
	background-color: #122;
	min-width: 320px;
}

.historyTable {
	width: 100%;
	/*table-layout: fixed;*/
}

.historyTable .barGreen {
	display: inline-block;
	background-color: green;
	height: 1em;
	vertical-align: middle;
}

.historyTable .barRed {
	display: inline-block;
	background-color: red;
	height: 1em;
	vertical-align: middle;
}

.historyTable .barGray {
	display: inline-block;
	background-color: gray;
	height: 1em;
	vertical-align: middle;
}

.nowrap {
	white-space: nowrap;
}

.mainbox > div.right {
	grid-area: content;
	background-color: #112;
	padding: 10px;
}

a {
	color: #ddd;
}

a:visited {
	color: #aaf;
}

button {
	background-color: #333;
	border: solid 1px #555;
	color: #ddd;
	border-radius: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

button[data-current-view] {
	color: #666;
}

td {
	padding: 0;
}
